.isa-table, .tooltip { font-size: 0.66em; }

.isa-table {
	table-layout: fixed;
	width: 1000px;
}

.isa-table tr:first-child { height: 2em; }

.isa-table td:first-child { width: 1em; background-color: transparent; }

.isa-table td:hover {
	background-color: #999;
	color: #000;
}

.isa-table td {
	font-family: "Courier New", Courier;
	font-weight: bold;
	background-color: #ccc;
	color: #333;
	padding: 6px;
	word-wrap: break-word;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
}

.isa-table th {
	background-color: #333;
	color: #999;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
}

.isa-table .ext-isa {
	background-color: #999;
}

.isa-table .hd {
	background-color: #999;
	color: #000;
}

.isa-table .hr {
	background-color: #000;
	color: #666;
}

.tooltip {
	position: absolute;
	width: 160px;
	border: 1px solid #000;
	padding: 6px;
	background-color: white;
}

.highlight-green {
	background-color: #3e5 !important;
}

.highlight-yellow {
	background-color: #ee5 !important;
}

.highlight-red {
	background-color: #e35 !important;
}

.regbox {
	margin-top: 10px;
	border-radius: 1px solid;
	border-color: #333;
	border-spacing: 3px;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	line-height: 1.5em;
	width: 29em;
	text-align: center;
}

.regbox td {
	border: 1px solid;
	border-color: #333;
}

.regbox-type1 {
	background-color: #888;
}
